__pycache__/
*.py[cod]
.Python
.venv/
venv/
.env

data/raw/
*.zip
*.cache

**/weights/*.pt
**/weights/*.pth
**/weights/demo_preview.png
**/weights/best_metrics.json
!**/weights/.gitkeep

.DS_Store
.ipynb_checkpoints/
runs/
*.log
